<head>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>

<body>
	<header>Adventures in Rubyland!</header>

	<div id="mainArea">
		<div id="questions">
			<h3><%= question1 %></h3>
		</div>

		<div id="answerOpts">
			<p>Answer Choices:<br>
			<input type="radio" name="answerOpts1" value="A gem">A gem.<br>
			<input type="radio" name="answer">A Programming Language.<br>
			</p>
		</div>

	</div>
	
	<footer>Created & developed by Amy Ton and Becca Sheldon.</footer>


</body>	


